.formulario{
  margin-top: 2% ;
  padding-bottom: 5.5%;
  padding: 20px;
  width: 400px;
  height: 442px;
  border: 2px solid #ffffff
}

.fundo{
    background-color: #171f38;
    min-height: 100vh;
}

.label{
    color: white;
     display:inline-block;
}

.Cor{
  color: white;
  font-size: 10pt;
  margin-top: 5%;
  text-align: center;
}

.Head{
  border: solid 1px white;
  color: white;
}

.Titulos{
  text-align: center;
}

.ButtonTable{
  align-items: center;
  margin-left: 46%;
  margin-top: 5%;
  width: 7%;
  height: 5%;
  font-size: 15px;
  border-radius: 5px;
  color: white;
  background-color: rgb(40, 40, 230);
}

.LabelTurma{
  color: white;
  margin-top: 3%;
  margin-left: 30%;
  font-size: 20px;
  text-align: center;
}

.border{
  border: solid 1px white;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1px;
  padding-bottom: 1px;
}

.Curso{
  width: 100%;
  margin-left: 5%;
  margin-top: 2%;
}

.FilterCurso{
  color: white;
  margin-left: 10%
}

.DivFilter{
  display: inline-block;
  margin-top: 3%;
}

.DivBusca{
  display: inline-block;
  margin-top: 3%;
  margin-left: 2%;
  width: 30%;
}

.DivReload{
  display: inline-block;
  margin-left: 1%;
}

.ButtonRe{
  margin-left: 0.5%
}

.BotaoImp{
  margin-top: 6.8%;
  text-align: center;
  margin-left: 45%;
  margin-bottom: 1%;
}

.BotaoP2{
  margin-left: 2%;
  margin-top: 5.8%;
}



.Table{
  margin-bottom: auto;
}

.TableCont{
  margin-top: 4%;
}

.Teste{
  display: none;
  color: white;
  font-size: 20pt;
  text-align: center;
}

.HeadS{
  border: solid 1px white;
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.Exclusao{
  background-color: red;
  border-color: red;
}

.Exclusao:hover{
  background-color: red;
  border-color: red;

}

.NomeCurso{
  color: white;
  text-align: center;
  font-size: 25pt;
  font-weight: bold;
}

.BotaoApagar{
  background-color: red;
  margin-left: 3%;
  border: solid 1px red;
}

.BotaoApagar:hover{
 background-color: red;
 border: solid 1px red;
}
